<app-navbar></app-navbar>
<h1>South Africa</h1>
  
<div class="card " style="max-width: 1900px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.theheritageportal.co.za/sites/default/files/styles/adaptive/public/articles/Port%20Elizabeth%20City%20Hall%20-%20Heritage%20Portal%20-%20September%202014%20-%205.jpg?itok=O4byjoUk" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Port Elizabeth</h5>
          <p class="card-text">Port Elizabeth is the largest City in the Eastern Cape Province, it is known as 'The Windy City' or the 'Friendly City'. One of the countries largest seaports, the city was originally founded as a settlement for British emigrants. The Area was previously inhabited by the San and the Xhosa.Port Elizabeth is known for several blue-flag beaches along the city's urban coastline; its popularity as an international and domestic holiday destination; and its rich and diverse cultural heritage.
            <br><b>Must Experiences:</b> Dgo for a drive or go on a guided tour to witness magnificent wild creatures like buffalos, rhinos, cheetahs and many more. If an encounter with the wild thrills, you then do visit Kragga Kamma  game park for sure.
            <br><b>Best Time To Visit:</b> June to August</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card " style="max-width: 1900px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.theconversation.com/files/490352/original/file-20221018-24-jqrq3s.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Johannesburg </h5>
          <p class="card-text">
            Johannesburg is the place where you get to feel the pulse of South Africa. The best of the retail marts, art galleries and restaurants – walk through the city or take a bus tour; the spirit of the city tends to sink into your heart and it indomitable energy reverberates long after you have left the city.
            <br><b>Must Experiences:</b> Boating on Lake Annecy, Go skiing and hiking on Mount Semnoz, cruise through the River Thiou, explore the wildlife at Parc Animalier de la Grande-Jeanne, and more.
            <br><b>Where To Stay:</b> Impérial Palace, James & Lake Suites, Les Trésoms Lake and Spa Resort, and Le Boutik Hotel.
            <br><b>Best Time To Visit:</b> March to May, and September to November</p>
          
        </div>
      </div>
    </div>
  </div>

  <div class="card " style="max-width: 1900px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.tripsavvy.com/thmb/WvfLv0p9G7GOfMFSiRo0H_1i8co=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-104329693-5a27e55e980207003656238e.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Kruger National Park</h5>
          <p class="card-text">The post card identity of South Africa, the Kruger National Park is indeed a treasure trove of adventure for both the adults and the kids. Grab your opportunity to watch the Big 5 that include elephant, lion, rhinoceroses, buffalo and leopard from close quarters. The kids will be thrilled beyond expectations here to spot these vivacious creatures that they only get to see in books in their routine life.
           
            <br><b>Where To Stay:</b> Hôtel Le Saint-Paul, Hôtel le Hameau, La Grande Bastide, Colombe d’Or, and Hôtel Les Vergers de Saint-Paul
            <br><b>Best Time To Visit:</b> April to July, and end of August to October
          </p>
          
        </div>
      </div>
    </div>
  </div>

  <div class="card " style="max-width: 1900px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.holidify.com/images/bgImages/DURBAN.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Durban</h5>
          <p class="card-text">
            Durban has some of the best beaches in South Africa and unlike some of the more advertised beaches on the west coast that border the frigid Atlantic Ocean, Durban has the warm Indian Ocean and the warm Mozambique Current that make sure the water stays toasty throughout the year.
            <br><b>Must Experiences:</b> Explore the Montagne de Reims Regional Natural Park, visit the oldest Porte Mars, adore the Foujita Chapel, discover the charm of Lighthouse Verzenay in Champagne – Museum of the Vine, and more.
           
            <br><b>Best Time To Visit:</b> Summer
        </p>
        
        </div>
      </div>
    </div>
  </div>

  <div class="card " style="max-width: 1900px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/10/2e/1e/cape-town.jpg?w=700&h=-1&s=1" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Mpumalanga</h5>
          <p class="card-text">
            
            MPUMALANGA Attractions, South Africa
            Mpumalanga's rare combination of lowveld and escarpment, sub-tropical weather, summer rains and unbelievable scenic beauty makes the province one of the country's best-kept secrets.
            Mpumalanga is a nature lover's paradise. The Panorama Route is an exceptional tourist route that simply cannot be missed. Iconic landmarks include the Blyde River Canyon (the largest green canyon in the world), God's Window, Bourke's Luck Potholes, Three Rondavels, and an abundance of waterfalls.
            <br><b>Must Experiences:</b> Bouke's Luck Potholes,Gods window and 3 Roundavales
          
            <br><b>Best Time To Visit:</b>October-March

        </p>
         
        </div>
      </div>
    </div>
  </div>
